SNurl = "https://auchanhu.service-now.com/api/now/table/incident?sysparm_query=resolved_atONLast%20month%40javascript%3Ags.beginningOfLastMonth()%40javascript%3Ags.endOfLastMonth()%5Eresolved_by.manager%3Db7302538dba9b410d3640342f3961997%5Eassignment_group%3D6c37d064db2acb0072522de74b961918&sysparm_display_value=true&sysparm_fields=number%2Cu_sulyozas_mero%2Csubcategory%2Cresolved_by%2Cbusiness_duration&sysparm_limit=2000&sysparm_view=true"
SNuser = ""
SNpass = ""